body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.App {
  flex-direction: column;
}

.square.show {
  color:black;
  border: 1px solid #7B7B7B;
  padding: 3px;
}

.square.boom {
  background-color: red;
}

.App.win {
  background-color: #9f9;
}

.App.lose {
  background-color: #f99;
}

#board {
}
